<section class="hero is-primary is-small">
  <div class="hero-body">
    <div class="container is-fluid">
      <section class="section">
        <h1 class="title">
          <i class="fa fa-question"></i> About
        </h1>
      </section>
    </div>
  </div>
</section>

<div class="container is-fluid">
  <section class="section">
    <div class="card">
      <div class="card-content">
        <div class="content">
            <h3>Contact</h3>
          In case of questions or problems regarding <b>MyTool</b>, please contact
            <a href="mailto:my_name@my_email.com">My Name</a>.

          <h3>Citation</h3>
          <p>
            If you use <b>MyTool</b> in your study, please cite it as follows:
          </p>
          <pre>{{"@misc{MyTool2021,"}}
{{"    title={MyTool:},"}}
{{"    author={My Name},"}}
{{"    year={2021},"}}
{{"    howpublished={https://my_tool_github_url},"}}
{{"}"}}</pre>
        </div>
      </div>
    </div>
  </section>
</div>
