<section class="hero is-primary is-small">
  <div class="hero-body">
    <div class="container is-fluid">
      <section class="section">
        <h1 class="title">
          <i class="fa fa-chart-network"></i> HyFed
        </h1>
      </section>
    </div>
  </div>
</section>

<div class="container is-fluid">
  <section class="section">
    <div class="card" style="text-align: justify">
      <div class="card-content">
        <div class="content">
          <p>
            <b>HyFed</b> (<b>Hy</b>brid <b>Fed</b>erated) is a framework for privacy-preserving machine learning.
            It provides an <b>easy-to-use API</b> to develop federated learning based algorithms, where each client computes the local model from its private
            data and shares only the local model with a central aggregator, which in turn, calculates the global model
            by combining the local models.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
