<section class="hero is-primary is-small">
  <div class="hero-body">
    <div class="container is-fluid">
      <section class="section">
        <h1 class="title">
          <i class="fa fa-info"></i> How to
        </h1>
      </section>
    </div>
  </div>
</section>

<div class="container is-fluid">
  <section class="section">
    <div class="card">
      <div class="card-content">
        <div class="content">
          <h2>MyTool - Introduction</h2>

          <h2>MyTool - Installation</h2>

          <h2>MyTool - Tutorial</h2>

        </div>
        </div>
    </div>
  </section>
</div>
