<section class="hero is-primary is-small">
  <div class="hero-body">
    <div class="container is-fluid">
      <section class="section">
        <h1 class="title">
          <i class="fa fa-question"></i> About
        </h1>
      </section>
    </div>
  </div>
</section>

<div class="container is-fluid">
  <section class="section">
    <div class="card">
      <div class="card-content">
        <div class="content">
            <h3>Contact</h3>
          In case of questions or problems regarding <b>Federated Stats</b>, please contact
            <a href="mailto:&#114;&#101;&#122;&#097;&#046;&#110;&#097;&#115;&#105;&#114;&#105;&#103;&#101;&#114;&#100;&#101;&#104;&#064;&#116;&#117;&#109;&#046;&#100;&#101;">Reza Nasirigerdeh</a>.

          <h3>Citation</h3>
          <p>
            If you use <b>Federated Stats</b> in your study, please cite it as follows:
          </p>
          <pre>
{{"@misc{hyfed2021,"}}
{{"    title={HyFed: A Hybrid Federated Framework for Privacy-preserving Machine Learning},"}}
{{"    author={Nasirigerdeh, Reza and Torkzadehmahani, Reihaneh and Matschinske, Julian and Baumbach, Jan and Kaissis, Georgios  and Daniel R&uuml;ckert},"}}
{{"    year={2021},"}}
{{"    howpublished={https://github.com/TUM-AIMED/hyfed},"}}
{{"}"}}
          </pre>
        </div>
      </div>
    </div>
  </section>
</div>
