<!--ACCOUNT PAGE-->
<div *ngIf="page === 'ACCOUNT'">
  <section class="hero is-primary is-small">
    <div class="hero-body">
      <div class="container is-fluid">
        <section class="section">
          <h1 class="title">
            <i class="fa fa-user-circle"></i> Account
          </h1>
        </section>
      </div>
    </div>
  </section>

  <div class="container is-fluid">
    <section class="section">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <p>
              {{appMessage}}
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!--ACCOUNT PAGE END-->


<!--SIGNUP AND LOGIN PAGE-->
<div *ngIf="page === 'SIGNUP' || page === 'LOGIN'">
  <section class="hero is-primary is-small">
    <div class="hero-body">
      <div class="container is-fluid">
        <section class="section">
          <h1 class="title">
            <i class="fa fa-chart-network"></i> TickTock
          </h1>
        </section>
      </div>
    </div>
  </section>

  <div class="container">
    <section class="section">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <div class="card has-background-light">
            <div class="card-header">
              <div class="card-header-title">
                <p class="title is-4">{{pageName}}</p>
              </div>
            </div>
            <div class="card-content">
              <div class="content">
                <p>
                  {{appMessage}}
                </p>
                <!--SIGNUP PAGE-->
                <div *ngIf="page === 'SIGNUP'">
                  <div *ngIf="step === 1">
                      <div class="field">
                        <p class="control has-icons-left has-icons-right">
                          <input [(ngModel)]="signupUsername" class="input" type="email" placeholder="Username" id="signupUsername" name="signupUsername">
                          <span class="icon is-small is-left">
                            <i class="fas fa-user-circle"></i>
                          </span>
                        </p>
                      </div>
                      <div class="field">
                        <p class="control has-icons-left">
                          <input [(ngModel)]="signupPassword" class="input" type="password" placeholder="Password" id="signupPassword" name="signupPassword">
                          <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                          </span>
                        </p>
                      </div>
                      <div class="field">
                        <p class="control has-icons-left">
                          <input [(ngModel)]="confirmPassword" class="input" type="password" placeholder="Confirm password" id="confirmPassword" name="confirmPassword">
                          <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                          </span>
                        </p>
                      </div>
                      <div class="buttons">
                        <button (click)="signup()" class="button is-primary is-outlined">
                          <span class="icon">
                            <i class="fas fa-user-plus"></i>
                          </span>
                          <span>
                            Sign up
                          </span>
                        </button>
                      </div>
                  </div>
                </div>
                <!--SIGNUP PAGE END-->

                <!--LOGIN PAGE-->
                <div *ngIf="page === 'LOGIN'">
                  <form (submit)="login()" action="#">
                    <div class="field">
                      <p class="control has-icons-left has-icons-right">
                        <input [(ngModel)]="loginUsername" class="input" type="email" placeholder="Username" id="loginUsername" name="loginUsername">
                        <span class="icon is-small is-left">
                          <i class="fas fa-user-circle"></i>
                        </span>
                      </p>
                    </div>
                    <div class="field">
                      <p class="control has-icons-left">
                        <input [(ngModel)]="loginPassword" class="input" type="password" placeholder="Password" id="loginPassword" name="loginPassword">
                        <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                      </p>
                    </div>
                    <div class="buttons">
                      <button (click)="login()" class="button is-primary is-outlined">
                        <span class="icon">
                          <i class="fas fa-sign-in"></i>
                        </span>
                        <span>
                          Log in
                        </span>
                      </button>
                    </div>
                  </form>
                </div>
                <!--LOGIN PAGE END-->

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!--SIGNUP AND LOGIN PAGES END-->


<!--LOGOUT PAGE-->
<div *ngIf="page === 'LOGOUT'">
  <section class="hero is-primary is-small">
    <div class="hero-body">
      <div class="container is-fluid">
        <section class="section">
          <h1 class="title">
            <i class="fa fa-sign-out"></i> Log out
          </h1>
        </section>
      </div>
    </div>
  </section>

  <div class="container is-fluid">
    <section class="section">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <p>
              {{appMessage}}
            </p>
            <form (submit)="logout()" action="#">
              <div class="buttons">
                <button (click)="logout()" class="button is-danger is-outlined">
                  <span class="icon">
                    <i class="fas fa-sign-out"></i>
                  </span>
                  <span>
                    Log out
                  </span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!--LOGOUT PAGE END-->
