<section class="hero is-primary is-small">
  <div class="hero-body">
    <div class="container is-fluid">
      <section class="section">
        <h1 class="title">
          <i class="fa fa-chart-network"></i> TickTock
        </h1>
      </section>
    </div>
  </div>
</section>

<div class="container is-fluid">
  <section class="section">
    <div class="card" style="text-align: justify">
      <div class="card-content">
        <div class="content">
          <p>
            <b>TickTock</b> tool implements a simple federated algorithm called <b>Tika-Taka</b> to show how
            HyFed API can be used by developers to develop their own customized tools.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
