<section class="hero is-primary is-small">
  <div class="hero-body">
    <div class="container is-fluid">
      <section class="section">
        <h1 class="title">
          <i class="fa fa-chart-network"></i> Stats
        </h1>
      </section>
    </div>
  </div>
</section>

<div class="container is-fluid">
  <section class="section">
    <div class="card" style="text-align: justify">
      <div class="card-content">
        <div class="content">
          <p>
            <b>Federated Stats</b> implements basic statistical algorithms such as variance and regression
            in a federated fashion using <b>HyFed</b> API.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
