<section class="hero is-danger is-small">
  <div class="hero-body">
    <div class="container is-fluid">
      <section class="section">
        <h1 class="title">
          <i class="fa fa-map-signs"></i> Page not found!
        </h1>
      </section>
    </div>
  </div>
</section>

<div class="container is-fluid">
  <section class="section">
    <div class="card">
      <div class="card-content">
        <div class="content">
          The page you requested not found.
        </div>
      </div>
    </div>
  </section>
</div>
